  
 <div class="register-container">
    <h2>Nice to<br> meet you!</h2>
  
    <form class="register-container__form" novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
     <div class="register-container__field">
         <label for="name"></label>
         <input type="text" id="name" formControlName="name" placeholder="Your name">
         <div class="text-error" *ngIf="!userRegisterForm.get('name')?.valid && 
         (userRegisterForm.get('name')?.dirty || submitted)">
            <p>Name is incorrect, it cannot exceed 20 characters.</p>
         </div>
      </div>
  
      <div class="register-container__field">
        <label for="lastName"></label>
        <input type="text" id="lastName" formControlName="lastName" placeholder="Your last name">
        <div class="text-error" *ngIf="!userRegisterForm.get('lastName')?.valid && 
        (userRegisterForm.get('lastName')?.dirty || submitted)">
         <p>Name is incorrect, it cannot exceed 30 characters.</p>
        </div>
      </div>

      <div class="register-container__field">
        <label for="email"></label>
        <input type="text" id="email" formControlName="email" placeholder="Your email">
        <div class="text-error" *ngIf="userRegisterForm.get('email')?.hasError('pattern') && 
        (userRegisterForm.get('email')?.dirty || submitted)">
         <p>Email is required and must contain at least the @ character.</p>
        </div>
      </div>

      <div class="register-container__field">
        <label for="password"></label>
        <input type="password" id="password" formControlName="password" placeholder="Your password">
        <div class="text-error" *ngIf="!userRegisterForm.get('password')?.valid && 
        (userRegisterForm.get('password')?.dirty || submitted)">
        <p>Password is incorrect, it must contain at least 6 characters, 1 uppercase, 1 lowercase and 1 num.</p>
        </div>
      </div>

      <div class="register-container__field">
         <label for="confirmPassword"></label>
         <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
         <div class="text-error">
             <p *ngIf="userRegisterForm.get('confirmPassword')?.hasError('required') &&
             (userRegisterForm.get('confirmPassword')?.dirty || submitted)">
              Campo requerido.
             </p>
             <p *ngIf="userRegisterForm.get('confirmPassword')?.hasError('pattern') &&
             (userRegisterForm.get('confirmPassword')?.dirty || submitted)">
              Debe contener 1 mayúscula, 1 minúscula, 1 número y al menos 8 caracteres
             </p>
             <p *ngIf="userRegisterForm.get('confirmPassword')?.hasError('passwordMatch') &&
             (userRegisterForm.get('confirmPassword')?.dirty || submitted)">
              Las contraseñas no coinciden
             </p>
         </div>
         
      </div>
      <button type="submit">Register</button>
      <p class="text-error" *ngIf="userRegisterForm.invalid && submitted"></p>
    </form>
</div> 
