@import "../../../styles/_variables";

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 50px;

  h2 {
    font-family: $primaryFont;
    color: $Purple;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__form {
    padding: 50px 40px;
  }

  &__info {
    padding: 50px 50px;
    background-color: #ffffff;
    background: linear-gradient(
      0deg,
      rgba(166, 211, 198, 1) 0%,
      rgba(222, 239, 234, 1) 9%,
      rgba(255, 255, 255, 1) 45%
    );
    border-radius: 30px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
