
<h4>What is the weather like?</h4>
<!-- <div class="weather-list">
  <div class="weather-list__form">
    <app-card-form></app-card-form>
  </div>
  <div class="weather-list__info">
    <app-card-info></app-card-info>
  </div>
</div> -->

<div class="weather-list">

  <div class="weather-list__form">
    <label for="cityName"></label>
    <input type="text" name="cityName" id="cityName" placeholder="City" [(ngModel)]="weather.cityName">
    <button>Buscar</button>
  </div>

  <div class="weather-list__info">
    <ul class="weather-info">
      <li class="weather-info__item">
        <div class="weather-card">
          <img src="{{ weather.src }}">
          <p class="weather-card__name">{{ weather.weather}}</p>
          <p class="weather-card__temp">{{ weather.temp }}</p>
          <div class="weather-temp">
            <p class="weather-temp__max">{{ weather.temp_max }}</p>
            <p class="weather-temp__min">{{ weather.temp_min }}</p>
          </div>
          <p class="weather-card__hum">{{ weather.humidity }}</p>
        </div>
      </li>
    </ul>
  </div>

</div>

