  
 <div class="login-container">
  <h2>Welcome!</h2>

  <form class="login-container__form" novalidate (ngSubmit)="onSubmit()" [formGroup]="userLoginForm">
   <div class="login-container__field">
       <label for="name"></label>
       <input type="text" id="name" formControlName="name" placeholder="Your name">
       <div class="text-error" *ngIf="!userLoginForm.get('name')?.valid && 
       (userLoginForm.get('name')?.dirty || submitted)">
            Name is incorrect, it must contain at least 6 characters and cannot exceed 20 characters.
       </div>
   </div>

   <div class="login-container__field">
       <label for="password"></label>
       <input type="password" id="password" formControlName="password" placeholder="Your password">
       <div class="text-error" *ngIf="!userLoginForm.get('password')?.valid &&
       (userLoginForm.get('password')?.dirty || submitted)">
       Password is incorrect, it must contain at least 6 characters, 1 uppercase, 1 lowercase and 1 num.
       </div>
   </div>
    <button type="submit">Login</button>
    <p class="text-error" *ngIf="userLoginForm.invalid && submitted"></p>
  </form>
</div> 