<div class="weather-card">
  <img class="weather-card__image" src='../../../../../assets/images/{{weather.icon}}.png'>
  <p class="weather-card__temp">{{ weather.temp }}ºC</p>
  <p class="weather-card__name">{{ weather.name }}, {{ weather.country }}</p>
  <p class="weather-card__weather">{{ weather.main }}, {{ weather.description }}</p>
  <div class="weather-card__main">
   <div  class="main-item">
    <p class="main-item__title">Max</p>
    <p class="main-item__p">{{ weather.temp_max }}º</p>
   </div>
   <div  class="main-item">
    <p class="main-item__title">Min</p>
    <p class="main-item__p">{{ weather.temp_min }}º</p>
   </div>
   <div  class="main-item">
    <p class="main-item__title">Hum</p>
    <p class="main-item__p">{{ weather.humidity }}%</p>
   </div>
 </div>
</div>

